.bg-btn {
  padding: 10px 20px;
  margin: 2rem auto;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0000;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}
.main-container-bg {
  text-align: center;
}

.bg-btn:active {
  transform: scale(0.95);
  background-color: black;
  color: white;
}
