.tic-container {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 20px;
}
.tic-tac-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  gap: 0;
}
.tic-tac-main {
  height: 100px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
.result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 386px;
  margin: auto;
}
.result p {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
  margin: 10px;
  font-weight: 500;
}
.result p > span {
  font-size: 16px;
  font-weight: 400;
}
.status > p {
  font-size: 25px;
  margin: 2px;
}
.rematch-btn {
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0000;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  text-align: center;
  background-color: rgb(0, 30, 128);
  color: white;
  margin-block: 20px;
}

.rematch-btn:active {
  transform: scale(0.95);
}
.tic-tac-main {
  transition: transform 0.3s, background-color 0.3s;
}

.tic-tac-main:active {
  transform: scale(0.95);
  background-color: aliceblue;
}
