.stack-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;

  margin-block: 35px;
}
.input-btn-part {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 20px;
  border-radius: 10px;
}
.inp-value {
  width: 90%;
  border-radius: 10px;
  outline: none;
  border: 0;
}
.input-container {
  text-align: center;
}
.inp-value {
  width: 90%;
  border-radius: 10px;
  outline: none;
  border: 0;
  background-color: #ffff001f;
  height: 38px;
  padding-inline-start: 10px;
  font-size: 13px;
}
.inp-value {
  border-radius: 10px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-inline: 25px;
  transition: background-color 0.9s, color 0.9s, font-size 0.2s, transform 0.5s;
}

.inp-value:focus {
  outline: none;
  background-color: black;
  color: white;
  transition: background-color 0.9s, font-size 0.2s, transform 0.5s;
  font-size: larger;
}
.inp-value::placeholder {
  color: black;
  transition: color 0.9s, font-size 0.2s, transform 0.5s;
  font-size: 15px;
}
.inp-value:focus::placeholder {
  color: white;
  transition: color 0.9s, font-size 0.2s, transform 0.5s;
  font-size: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-block: 25px;
  border-bottom: 1px black;
}
.btn-container button {
  padding: 0.5em 1em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-container button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn-container button:active {
  transform: translateY(-1px);
}
.message-container {
  text-align: center;
}
.stack-add {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: 10px;
  border-radius: 10px;
  margin-block: 10px;
  background-color: #23c48425;
  font-weight: 600;
  font-size: 20px;
}
.stack-add p {
  margin: 0;
}

@media only screen and (max-width: 700px) {
  .btn-container {
    flex-direction: column;
  }
  .inp-value {
    width: 100%;
  }
}
